In [1]:
#how often does the stock price go over a set percentage%
import cupy as np
import yfinance as yf
import pandas as pd
import sys
import matplotlib.pyplot as plt

In [2]:
#get a list of all companies in SPY from wikipedia
payload = pd.read_html("https://en.wikipedia.org/wiki/List_of_S%26P_500_companies")
first_table = payload[0]
second_table = payload[1]

first_table.head()

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981

In [3]:
companies = first_table["Symbol"].values.tolist()

In [4]:
#companies = ['SPY','GOOG', 'AAPL','TSLA']
data = yf.download(companies, start='2016-01-01', end='2022-01-01')

[*********************100%***********************]  505 of 505 completed

3 Failed downloads:
- BF.B: No data found for this date range, symbol may be delisted
- CEG: Data doesn't exist for startDate = 1451606400, endDate = 1640995200
- BRK.B: No data found, symbol may be delisted

In [5]:
data.head()

                     Adj Close                                               \
                             A        AAL         AAP       AAPL       ABBV
Date
2016-01-04 00:00:00  38.664230  39.095455  147.469162  24.323219  42.991688
2016-01-05 00:00:00  38.531200  38.722763  146.461777  23.713696  42.812580
2016-01-06 00:00:00  38.702248  39.401257  142.587128  23.249626  42.820042
2016-01-07 00:00:00  37.058376  38.655853  144.166031  22.268383  42.693176
2016-01-08 00:00:00  36.668774  38.579407  140.998520  22.386133  41.529026

                                                                            \
                           ABC       ABMD        ABT        ACN       ADBE
Date
2016-01-04 00:00:00  91.547791  85.239998  38.193447  92.029938  91.970001
2016-01-05 00:00:00  92.886803  85.000000  38.184536  92.508926  92.339996
2016-01-06 00:00:00  91.466927  85.300003  37.864269  92.328186  91.019997
2016-01-07 00:00:00  88.546211  81.919998  36.956802  89.616905  89.110001
2016-01-08 00:00:00  88.033997  84.580002  36.182781  88.749290  87.849998

                     ...     Volume                                    \
                     ...       WYNN        XEL         XOM       XRAY
Date                 ...
2016-01-04 00:00:00  ...  4249800.0  2819300.0  20400100.0  1387100.0
2016-01-05 00:00:00  ...  4286100.0  2141200.0  11993500.0  1611200.0
2016-01-06 00:00:00  ...  3316100.0  5191900.0  18826900.0  1179700.0
2016-01-07 00:00:00  ...  5525600.0  5212200.0  21263800.0  1140400.0
2016-01-08 00:00:00  ...  5740000.0  3005400.0  19033600.0  1233700.0

                                                                             \
                           XYL         YUM        ZBH       ZBRA       ZION
Date
2016-01-04 00:00:00  1353400.0   4821623.0  2042800.0   656200.0  3523300.0
2016-01-05 00:00:00  1075400.0   5273420.0  2227900.0   611300.0  2653600.0
2016-01-06 00:00:00  1866000.0   5049330.0  2671100.0   881900.0  4164200.0
2016-01-07 00:00:00  1555400.0  11005453.0  1776300.0  1210600.0  4234000.0
2016-01-08 00:00:00  1471500.0   5996184.0  1622300.0  1034700.0  3401600.0


                           ZTS
Date
2016-01-04 00:00:00  2871700.0
2016-01-05 00:00:00  3116700.0
2016-01-06 00:00:00  4670500.0
2016-01-07 00:00:00  4324400.0
2016-01-08 00:00:00  4946100.0

[5 rows x 3030 columns]

In [6]:
#data.plot(data[('Close', 'AAPL')])
#plt.show()

In [7]:
#cell adds the daily percentage difference to the data frame
for company in companies:
    Close = data[('Close', company)]
    Open = data[('Open', company)]
    data = data.copy()
    
    data[('percent_diff',company)] = ((Close - Open)/Close)*100

In [8]:
data.head()

                     Adj Close                                               \
                             A        AAL         AAP       AAPL       ABBV
Date
2016-01-04 00:00:00  38.664230  39.095455  147.469162  24.323219  42.991688
2016-01-05 00:00:00  38.531200  38.722763  146.461777  23.713696  42.812580
2016-01-06 00:00:00  38.702248  39.401257  142.587128  23.249626  42.820042
2016-01-07 00:00:00  37.058376  38.655853  144.166031  22.268383  42.693176
2016-01-08 00:00:00  36.668774  38.579407  140.998520  22.386133  41.529026

                                                                            \
                           ABC       ABMD        ABT        ACN       ADBE
Date
2016-01-04 00:00:00  91.547791  85.239998  38.193447  92.029938  91.970001
2016-01-05 00:00:00  92.886803  85.000000  38.184536  92.508926  92.339996
2016-01-06 00:00:00  91.466927  85.300003  37.864269  92.328186  91.019997
2016-01-07 00:00:00  88.546211  81.919998  36.956802  89.616905  89.110001
2016-01-08 00:00:00  88.033997  84.580002  36.182781  88.749290  87.849998

                     ... percent_diff                                          \
                     ...          WMB       WTW      WYNN       XEL       XYL
Date                 ...
2016-01-04 00:00:00  ...     2.743900 -1.780416  2.530170  0.252101  0.443469
2016-01-05 00:00:00  ...    -0.303836  1.915127  1.184532  1.053802  0.027719
2016-01-06 00:00:00  ...   -11.528390  0.000000 -1.941603  1.619100 -2.274007
2016-01-07 00:00:00  ...    -7.763214 -1.244019 -6.230271  1.312202 -1.354459
2016-01-08 00:00:00  ...    -3.692762  0.977533 -6.529263 -1.105587 -1.454757


                          YUM      ZBRA       ZBH      ZION       ZTS
Date
2016-01-04 00:00:00  1.232517 -1.789747  0.677728  0.561586  0.698121
2016-01-05 00:00:00 -1.110650 -2.653504  1.857019 -1.324755  1.041450
2016-01-06 00:00:00  0.433447 -2.153303  1.791526 -1.013646  1.561849
2016-01-07 00:00:00 -1.056748 -2.120852 -0.176505 -0.361737 -0.923540
2016-01-08 00:00:00 -1.614324 -0.928269 -0.649922 -2.357723 -2.310370

[5 rows x 3535 columns]

In [9]:
N = 0
limit = 3.0

limit_up_patterns = 0
limit_down_patterns = 0
no_result_patterns = 0


for company in companies:

    stock = data[('percent_diff', company)]
    for i, diff in enumerate(stock[30:]):

        if diff >= limit: #count if the percentage diff is greater than the limit specified
            #save this pattern
            #limit_up_patterns.append(np.array(stock[i-1:i-31]))    
            limit_up_patterns += 1
            N+=1
        elif diff <= -limit:
            #save this pattern
            #limit_down_patterns.append(np.array(stock[i-1:i-31]))
            limit_down_patterns += 1
            N+=1
        else:
            #no_result_patterns.append(np.array(stock[i-1:i-31]))
            no_result_patterns += 1
print("The number of times the stock price diff was greater than ",limit,"was", N)
print("number of up patterns: ",limit_up_patterns) #len(limit_up_patterns))
print("number of down patterns: ", limit_down_patterns)# len(limit_down_patterns))
print("number of no results:", no_result_patterns)#len(no_result_patterns))

The number of times the stock price diff was greater than  3.0 was 47623
number of up patterns:  21690
number of down patterns:  25933
number of no results: 702807